# Group Lab Activity

### Group number: 10

### Section (9am or 11am): 11am

### Canvas group number: 20

### Members of the group: 
  - Alex Chiu
  - Ella Jiang
  - Thomas Wu
  - Alan Chen
  - Andrew Kim
  - Matias Fragoso

In [ ]:
# import the packages 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## Step one - Series

First, we want to create a `pandas` `Series` object that has length 3 and the first element is `nan`

In [ ]:
s = pd.Series([np.nan, 12.03, 43.1])

In [ ]:
s

### Do a numerical operation on the Series

Multiply the series by the scalar 0.5

In [ ]:
s*0.5

### Store the result in another series object

The result of the last operation wasn't stored in a variable, assign the operation to a variable called `s1`

In [ ]:
s1 = s*0.5

In [ ]:
s1

In [ ]:
# We can also add these two series! 
s + s1

## Creating DataFrames

In [ ]:
# by using a multiple series
df = pd.DataFrame( {'a':s,'b':s1})

In [ ]:
df

In [ ]:
# by using a dict
d = {'a':[1,2,3],
     'b':[9,5,2]}

In [ ]:
df = pd.DataFrame(d)

In [ ]:
df

In [ ]:
# checkout whats in memory right now just for fun
%whos

In [ ]:
# now, let's load from a file
df = pd.read_csv('titanic.csv')

## Investigate the DataFrame

Now the titanic data is loaded into the variable `df`, what can we learn about it?

In [ ]:
# The first 5 rows
df.head(5)

In [ ]:
# the last 5 rows
df.tail(5)

In [ ]:
# the column names and their types
df.dtypes

In [ ]:
# the length of the dataframe
len(df)

## Slicing and Dicing

How to select rows and columns

In [ ]:
# Select the 523 row (note ... the result is a Series with the indices represted by column names)
df.iloc[523]

In [ ]:
foo = df.iloc[523]

In [ ]:
# you can index the series using the classic dictionary-like syntax
foo['Name']

In [ ]:
# Select all the rows where the flag survived = 1
df_survivors = df[ df['Survived'] == 1 ]

In [ ]:
df_survivors.head()

In [ ]:
# Select all the rows where the flag survived = 1 AND the Sex is male
df_survivors_men = df[ (df['Survived'] == 1) & (df['Sex'] == 'male') ]

In [ ]:
df_survivors_men.head()

In [ ]:
# Just show the Name and Fare columns 
df_survivors_men[['Name','Fare']]

In [ ]:
# I want all of the male survivors from class 2 or three
class_23 = df_survivors_men[df_survivors_men["Pclass"].isin([2, 3])]

In [ ]:
class_23.head()

In [ ]:
# I want to remove the records from class_23 that have the Age set as nan
age_no_na = class_23[class_23["Age"].notna()]

In [ ]:
age_no_na.head(5)

## Groupby and Pivot Tables

Panda's DataFrame also allows for you to analyze data using a "groupby" function, which combines split, apply, and combine functions.  See the [O'Reilly Python for Data Science](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html#GroupBy:-Split,-Apply,-Combine) book for a great explanation. 

Pivot tables are multidimensional groupbys!  Read more [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html)

In [ ]:
# Group the original dataframe by survival, then sum the values in each partition 
df.groupby('Survived').sum()

In [ ]:
# That was great, but the sum of the column values doesn't really make any sense!
# What about finding the mean?
df.groupby('Survived').mean()

In [ ]:
# Averaging every column doesn't make sense, just pick out the Fare column
df.groupby('Survived')['Fare'].mean()

In [ ]:
# Now use groupby differently to determine the survival rate by sex
df.groupby('Sex')['Survived'].mean()

In [ ]:
# Pivot tables ... this was all great, but what if I want to find the 
# survival rate by sex AND by cabin class?  We use pivot tables:
df.pivot_table('Survived', index='Sex', columns='Pclass')

### Quiz Time & Practice HW!!

Apply these new skills and answer the following:

   - What is the age of the passenger in the first row of the dataframe "age_no_na"? 
   - What is the percentage of passengers in the entire titanic dataframe (df) that are female?
   - Looking only at the survivors, what percentage are female? 
   
You may discuss your answers as a group, but each group member must indivdually submit their answers via the Canvas Quiz located in the "Modules" section of the Canvas Course page. 

The quiz is an indivudual assignment, and the practice homework is to turn in this ipynb file as a group.

In [ ]:
age_no_na1 = age_no_na.head(1)['Age']

In [ ]:
df_female = len(df[df['Sex'] == 'female'])/len(df)

In [ ]:
df_survivor_female = len(df_survivors[df_survivors['Sex'] == 'female'])/len(df_survivors)

In [ ]:
age_no_na1

In [ ]:
df_female

In [ ]:
df_survivor_female